<div style="text-align:center">
    <h1>User booking</h1>
    <div id="filter_zone">
        <span>BookingId:</span>
        <input type="text" id="filter_text">
        <div id="filter_button" (click)="search_id()">Filtrar</div>
    </div>
    <table id="booking_table">
        <tr>
            <th id="booking_table_booking_id">BookingId</th>
            <th id="booking_table_client">Cliente</th>
            <th id="booking_table_creation_date">Fecha de Creación</th>
            <th id="booking_table_address">Dirección</th>
            <th id="booking_table_prize">Precio</th>
        </tr>
        <tr *ngFor="let book of actual_booking">
            <td>{{book.bookingId}}</td>
            <td>{{book.bookingFields.firstName | titlecase}} {{book.bookingFields.lastName | titlecase}}</td>
            <td>{{book.bookingCreatedTime | date : 'mm:HH dd-MM-yyyy'}}</td>
            <td class="booking_table_address_td">{{book.bookingFields.address}}</td>
            <td>{{book.bookingPrice}}</td>
        </tr>
    </table>
</div>
